# Printer-agnostic base layer: shipped with every wizard-generated printer.cfg.

[include ../../mainsail.cfg]

# Macros - Helpers
[include ../../macros/helpers/CG28.cfg]
[include ../../macros/helpers/G32.cfg]
[include ../../macros/helpers/HEATSOAK_BED.cfg]
[include ../../macros/helpers/nozzle_wipe.cfg]
[include ../../macros/helpers/primeline.cfg]
[include ../../macros/helpers/tilt_calibrate.cfg]
[include ../../macros/helpers/PA_TEST.cfg]
[include ../../macros/helpers/TEST_SPEED.cfg]

# Macros - Print
[include ../../macros/print.cfg]

# Macros - Overrides
[include ../../macros/override/M106.cfg]
[include ../../macros/override/M109.cfg]
[include ../../macros/override/M190.cfg]
[include ../../macros/override/M205.cfg]

[pa_test]
slow_velocity: 240
medium_velocity: 400
fast_velocity: 600
