[constants]
printer_label: T100
has_toolheadboard: false

# Kinematics + axes
[include ../../kinematics/corexy.cfg]
[include ../../axis/X/default_configuration.cfg]
[include ../../axis/Y/default_configuration.cfg]
[include ../../axis/Z/default_TR8x8_1.8deg.cfg]

# Sensors
[include ../../sensors/temp_sensor_mcu.cfg]
[include ../../sensors/temp_sensor_host.cfg]

# Driver tuning
[include ../../steppers/generic/2209/24v-0.8a-x.cfg]
[include ../../steppers/generic/2209/24v-0.8a-y.cfg]
[include ../../steppers/generic/2209/24v-0.8a-z.cfg]
[include ../../steppers/generic/2209/24v-1.0a-e.cfg]

# Endstops
[include ../../endstops/sensorless/2209.cfg]
[include ../../endstops/sensorless/2209-z.cfg]

[constants]
# print area
print_volume_x: 157
print_volume_y: 174
print_volume_z: 156
center_x: round(${constants.print_volume_x} / 2)
center_y: round(${constants.print_volume_y} / 2)

[stepper_y]
homing_positive_dir: true

[tmc2209 stepper_x]
driver_SGTHRS: 90

[tmc2209 stepper_y]
driver_SGTHRS: 90

[tmc2209 stepper_z]
driver_SGTHRS: 50

[extruder]
max_extrude_cross_section: 2
max_extrude_only_distance: 500
max_extrude_only_velocity: 240
max_extrude_only_accel: 4000
instantaneous_corner_velocity: 20
