[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_speed: 5
second_homing_speed: 3
homing_retract_speed: 2
homing_retract_dist:5

[BDsensor] 
sda_pin: PROBE_SENSOR
scl_pin: PROBE_CONTROL
delay: 10
x_offset: ${constants.probe_offset_x}
y_offset: ${constants.probe_offset_y}
z_offset: 0
no_stop_probe:true
position_endstop: 1.0
collision_homing:1
collision_calibrate:1
speed:5

[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
description:
gcode:

    # Enable z axis up and down
    BDSENSOR_SET QGL_TILT_PROBE=1

    # First Pass: Get a rough aligned Z Axis (tolerance ~1mm)
    _Z_TILT_ADJUST horizontal_move_z=6 retry_tolerance=1

    # Second Pass: Get Z-Axis alligned perfectly (0.04mm)
    #Run z tilt with no z move up and down
    BDSENSOR_SET QGL_TILT_PROBE=0
    _Z_TILT_ADJUST horizontal_move_z=1 retry_tolerance=0.04

    # Clean the tip right before the final Z homing reference. The G28 Z0
    NOZZLE_WIPE_BED

    G28 Z0