[constants]
toolhead_label: DualHorn
compatible_printers: t250
nozzle_diameter: 0.5
filament_diameter: 1.75

# Part cooling + hotend/side fans
[include ../../fans/part_fan_cpap.cfg]
[include ../../fans/hotend_fan.cfg]
[include ../../fans/side_blower_fan_dual.cfg]

# Extruder
[include ../../extruders/t250-bmg.cfg]

# Hotend
[include ../../hotends/rapido-uhf.cfg]
